#wraper {
	width: 1000px;
	margin: 20px auto;
}
header {
	background: #835140;
	width: 700px;
	float: right;
}
header li {
	display: inline;
}
#logo {
	min-height: 13%;
	min-width: 13%;
	width:250px;
	height:150px;
}
#left_box {
	width: 250px;
	height: 500px;
	background: url("../img/Kjell_Myrland.png")
	 no-repeat #4b0f0f;
	 margin-top: 0;
}
footer {
	background: #ccc;
}