body {
  font-size: 16px;
  color: #fff;
  background-color: #ece2aa;
  font-family: 'Oxygen', sans-serif;
}
/*--Header--*/
#header-nav {
	border: 0;
	border-radius: 0;
	background: transparent;
}
.navbar-header h1 {
	margin: 0;
	font-family: 'Lora', serif;
	color: #557c3e;
	text-transform: uppercase;
	line-height: .75;
	font-size: 1.5em;
	margin-top: 0;
  	margin-bottom: 0;
  	text-shadow:1px 1px 1px #222;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #5b6e0c;
  box-shadow: 0 0 1px #1b0601;
}
/*--enf header--*/
/*--main window--*/
#left_box {
	
	background-color: #1b0601;
	box-shadow: 0 0 10px #1b0601;

}
#text_address {
	margin: 0;
	padding: 0;
	width: 250px;
	border-radius: 5px;
	border: 1px solid #000;
	
	background-color: #1b0601;
	box-shadow: 0 0 10px #1b0601;
}
.btn {
	border: #3f0c1f; 
}
.btn:hover {
	background-color: #e7e7e7;
}
#nav_list  {
	background-color: #5b6e0c;
	border:1px solid #161b01;
	border-radius: 5px;
	box-shadow: 0 0 5px #1b0601;
	
}
#nav_list li {
	display: inline;
}
#nav_list a {
	color: #fff;
	padding-top: 9px;
	padding-right: 40px;
	text-shadow: 1px 1px 1px #222;
	font-size: 1.2em;
}
#home-tiles.row {
	margin:0;
}
#left_side, #right_side{
	margin:0;
}
#law_family p {
	border:1px solid #3f0c1f;
	margin:auto;
	
} 
/*#right_side{
	padding-left: 50px;

}*/
#right_box #nav_list {
	border: none;
}
#footer {
	background-color: #ccc;
	text-shadow: 1px 1px 1px #222;
	box-shadow: 0 0 10px #1b0601;
	margin: 20px 0;
	font-size: .9em;
	border-radius: 5px;
	height: 30px;
}
/*------------------Large devices only--------------------*/
@media (min-width: 1200px) {
	
	.container .jumbotron {
		background: url('../images/jumbotron_1200.jpg') no-repeat;
		height: 364px;
		width:250px;
		
	}

}
/*------------------Media devices only--------------------*/
@media (min-width: 992px) and (max-width: 1199px) {
	/*#logo-img {
		background: url('../images/restaurant-logo_medium.png') no-repeat;
		width: 100px;
		height: 100px;
		margin: 5px 5px 5px 0;
	}*/
	.container .jumbotron {
		background: url('../images/jumbotron_992.jpg') no-repeat;
		height: 288px;
		width: 200px;
		
	}
	#nav_list a {
		font-size: .9em;
	}
	#text_address {
	width: 200px;
	
	}

}
/*------------------Small devices only--------------------*/
@media (min-width: 768px) and (max-width: 991px) {
	
	.container .jumbotron {
		background: url('../images/jumbotron_768.jpg') no-repeat;
		height: 259px;
		width:180px;
		
		
	}
	#text_address {
	width: 180px;
	
	
	}
	#nav_list a {
		font-size: .9em;
		padding-right: 10px;

	}
	#right_side{
	padding: 0;

}
	

}
/*------------------EXtra small devices only--------------------*/
@media (min-width: 480px) and (max-width: 767px) {
	
	  /* Header */
	.navbar-brand {
		padding-top: 10px;
		height: 80px;
	}
	.navbar-brand h1 { /* Restaurant name */
	    padding-top: 10px; 
	    font-size:4vw; /* 1vw = 1% of viewport width */
  }
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    background-color: #5b6e0c;
    color: #fff;
    box-shadow: 0 0 5px #3f0c1f;
	border: 2px solid #3f0c1f;
  }
  #right_box #nav_list  li{
  	display: none;
  }
  #left_side{
  	display: none;
  }
  #right_side{
	padding: 15px;

}
#left_side{
	display: none;
}

}
/*--extra small devices--*/
@media(max-width: 479px){
		/*--Header--*/
 	.navbar-brand h1 { /* Restaurant name */
	    padding-top: 5px;
	    font-size: 6vw; /* 1vw = 1% of viewport width */
  }
  /*---Header end--*/
  #right_box #nav_list  li{
  	display: none;
  }
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    background-color: #5b6e0c;
    color: #fff;
    box-shadow: 0 0 5px #3f0c1f;
	border: 2px solid #3f0c1f;
  }
  .navbar-header h1 {
  	line-height: 1em;
  }
  #right_side{
	padding: 15px;

}
}
